.smallHeading{
    margin: 0px;
    /* border: 1px solid black; */
    font-size: 16px;
    font-weight: 600;
    color: #000000e6;
    align-self: flex-start;
}
#viewedSingleDiv{
    /* border: 1px dashed blue; */
    /* width: 290px; */
    display: flex;
    margin: 20px 0px 10px;
}
#viewedSingleImg{
    height: 48px;
    width: 48px;
    border-radius:50%;
    overflow: hidden;
    cursor: pointer;
}
#viewedSingleImg img{
    height: 100%;
    width:100%;
}
#viewedSingleContent{
    /* border: 1px solid black; */
    text-align: left;
    margin-left: 10px;
}
.morebutton2{
    width: 340px;
    height: 44px;
    position: relative;
    bottom: -12px;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    border: 1px solid #e5e5e5e6;
    background-color: white;
    font-size: 16px;
    font-weight: 600;
    line-height: 20px;
    color: rgb(0 0 0 / 60%);
    cursor: pointer;
}
.morebutton2:hover{
    background-color: #f1f1f1e6;
}

