#singleExperienceDiv{
    /* border: 1px solid black; */
    display: flex;
    align-items: center;
    padding: 10px 0px;
    border-bottom: 1px solid #e8e8e8;
}
.instituteImage{
    /* border: 1px solid black; */
    height: 48px;
    width: 48px;
}
.instituteImage img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}
.heading2{
    font-size: 16px;
    font-weight: 600;
    line-height: 24px;
    color: #000000e6;
    margin: 0px;
    text-align: left;
    cursor: pointer;
}
.heading2:hover{
    color: #0a66c2;
    text-decoration: underline;
}
#experienceDetails{
    margin: 0px 0px 0px 10px;
}
#experienceDetails p{
    color: #00000099;
}
#experienceDetails h1:hover{
    color: #000000e6;
    text-decoration: none;
}