#interestContentDiv{
    border: 1px solid black;
    margin: 10px 10px 27px;
    height: 500px;
    display: flex;
    flex-wrap: wrap;
}
#interestSingleDiv{
    border: 1px solid red;
    width: 355px;
    height: 112px;
    padding: 12px 0px;
    display: flex;
}
#interestSingleImg{
    height: 48px;
    width: 48px;
    border-radius: 50%;
    overflow: hidden;
}
#interestSingleImg img{
    height: 100%;
    width: 100%;
}