#contentFeed {
    width: 540px;
    margin: auto;
    padding: 8px 16px;
    /* height: 500px; */
    border: 1px solid #EBEBEB;
    background-color: white;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
}

#contentCreatorDiv {
    /* border: 1px solid black; */
    height: 64px;
    width: 540px;
    display: flex;
    justify-content: space-between;
    cursor: pointer;
}

#contentCreatorDetailsDiv {
    /* border: 1px dashed black; */
    height: 48px;
    align-self: center;
    display: flex;
}

#contentCreatorImageDiv {
    /* border: 1px dotted red; */
    height: 48px;
    width: 48px;
}

#contentCreatorImageDiv img {
    height: 100%;
    width: 100%;
}

#contentCreatorDetails {
    margin: 0px 0px 0px 10px;
}

#contentCreatorDetails h3 {
    font-size: 14px;
    font-weight: 600;
    line-height: 20px;
    color: rgb(0 0 0 / 90%);
    /* border: 1px solid black; */
    margin: 0px;
    text-align: left;
}

#contentCreatorDetails h3:hover {
    color: #0a66c2;
    text-decoration: underline;
}

#contentCreatorDetails p {
    font-size: 12px;
    line-height: 16px;
    color: rgb(0 0 0 / 60%);
    /* border: 1px solid rgb(0, 255, 0); */
    margin: 0px;
    text-align: left;
}

#contentFeedMoreButtton {
    height: 32px;
    width: 32px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 22px;
    font-weight: 600;
    line-height: 20px;
    color: #5E5E5E;
    left: 0px;
}

#contentFeedMoreButtton:hover {
    background-color: #EBEBEB;
}

#contentTextDiv {
    max-height: 60px;
    width: 540px;
    /* border: 1px dashed blue; */
    font-size: 14px;
    line-height: 20px;
}

.contentTextOnly {
    max-height: 100px;
}

.hashTag {
    font-size: 14px;
    font-weight: 600;
    line-height: 20px;
    color: #0a66c2;
}

.hashTag:hover {
    text-decoration: underline;
}
#contentFeedStat{
    /* border: 1px solid black; */
    padding: 8px 0px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
#contentFeedStatLeft{
    height: 16px;
    /* border: 1px solid black; */
    width: 200px;
    display: flex;
}
#contentFeedStatLeft div{
    position: relative;
    /* border: 1px solid red; */
    display: flex;
    width: 48px;
    padding: 0px 4px 0px 0px;
}
#contentFeedStatLeft div img{
    height: 16px;
    width: 16px;
    position: absolute;
}
#contentFeedStatLeft div img:nth-child(2){
    left: 12px;
}
#contentFeedStatLeft div img:nth-child(3) {
    left: 24px;
}
#contentFeedStatLeft span{
    font-size: 12px;
    line-height: 16px;
    color: rgb(0 0 0 / 60%);
}
#contentFeedStatLeft span:hover {
    text-decoration: underline;
    color: #0a66c2;
}
#contentFeedStatRight{
    /* border: 1px solid black; */
    width: 120px;
    line-height: 16px;
    color: rgb(0 0 0 / 60%);
    display: flex;
    align-items: center;
    justify-content: space-between;
}
#contentFeedStatRight span{
    font-size: 12px;
    line-height: 16px;
    color: rgb(0 0 0 / 60%);
}
#contentFeedStatRight span:hover{
    text-decoration: underline;
    color: #0a66c2;
}
#contentFeedEngageDiv {
    border-top: 1px solid #EBEBEB;
    display: flex;
    justify-content: space-between;
    padding: 6px 0px;
}

#contentFeedEngageDiv button {
    display: flex;
    height: 48px;
    width: 113px;
    border-radius: 4px;
    justify-content: center;
    align-items: center;
    color: rgb(0 0 0 / 60%);
    font-size: 16px;
    line-height: 24px;
    background-color: white;
    margin: 0px;
}

#contentFeedEngageDiv button:hover {
    background-color: #EBEBEB;
}

#contentFeedEngageDiv button span {
    margin: 5px;
}

#contentFeedEngageDiv button:first-child {
    position: relative;
}
#postCommentDiv{
    /* border: 1px dashed green; */
    display: flex;
    justify-content: center;
    align-items: center;
    height: 61px;
    width: 540px;
    position: relative;
}
#postCommentDiv >span{
    position: absolute;
    display: flex;
    justify-content: space-between;
    right: 7px;
    /* border: 1px solid black; */
}
#postCommentDiv>span span{
    /* border: 1px solid red; */
    border-radius: 50%;
    height: 40px;
    width: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
}
#postCommentDiv>span span:hover{
    background-color: #EBEBEB;
}
#postCommentDiv input{
    width: 464px;
    min-height: 40px;
    padding: 0px 10px;
    border-radius: 30px;
    border: 1px solid #A9A7A7;
    font-size: 14px;
    line-height: 21px;
    color: rgb(0 0 0 / 90%);
}
#postCommentDiv input:focus{
    outline: 1px solid #A9A7A7;
}
#commentSortDiv{
    /* border: 1px dashed black; */
    height: 24px;
    width: 520px;
    display: flex;
    align-items: center;
 
}
#commentSortDiv div{
    width: 104px;
    /* border: 1px solid black; */
    display: flex;
    align-items: center;
    font-size: 13.33px;
    font-weight: 600;
    color: rgb(0 0 0 / 60%);
}
#Comment{
    /* border: 1px dotted red; */
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
#Comment .InteractionDiv{
    margin-left: 50px;
}
#CommentOwnerImg{
    height: 40px;
    width: 40px;
    border-radius: 50%;
    overflow: hidden;
}
#CommentOwnerImg img{
    height: 100%;
    width: 100%;
}
#CommentContent{
    width: 490px;
    border-bottom-right-radius: 8px;
    border-top-right-radius: 8px;
    /* border: 1px solid rgb(255, 0, 157); */
    background-color: #f2f2f2;
}
#CommentOwnerDetails{
    /* border: 1px solid black; */
    height: 53px;
    padding: 8px 64px 8px 12px;
}
#CommentOwnerDetailsTop{
    display: flex;
    justify-content: space-between;
    /* border: 1px solid red; */
    position: relative;
}
#CommentOwnerDetailsTop p{
    margin: 0px;
    /* border: 1px solid black; */
 
}
#CommentOwnerDetailsTop p:last-child{
    position: absolute;
    right: -55px;
    color: rgb(0 0 0 / 60%);
    font-size: 12px;
    font-weight: 400;
    display: flex;
    justify-content: space-between;
    width: 35px;

}

#CommentOwnerDetailsTop p span:first-child{
    font-size: 14px;
    font-weight: 600;
    line-height: 21px;
    color: rgb(0 0 0 / 90%);
}
#CommentOwnerDetailsTop p span:last-child{
    color: rgb(0 0 0 / 60%);
    font-size: 14px;
    font-weight: 400;
}
#CommentOwnerDetailsTop p:first-child span:first-child:hover{
    color: #0a66c2;
    text-decoration: underline;
}
#CommentOwnerDetailsTop p span:hover {
    text-decoration: none;
}
#Ownerdescription{
    color: rgb(0 0 0 / 60%);
    font-size: 12px;
    font-weight: 400;
    line-height: 16px;
    /* border: 1px solid black; */
    text-align: left;
    margin: 0px;
}
#commentTxt{
    /* border: 1px solid black; */
    box-sizing: border-box;
    text-align: left;
    width: 464px;
    padding: 0px 16px 12px 12px;
    color: rgb(25 25 25);
    font-size: 14px;
    font-weight: 400;
}

#Reply{
    display: flex;
    justify-content: flex-end;
    /* border: 1px solid black; */
    flex-wrap: wrap;
}
#ReplyContent {
    width: 420px;
    border-bottom-right-radius: 8px;
    border-top-right-radius: 8px;
    /* border: 1px solid rgb(255, 0, 157); */
    margin: 0px 0px 0px 10px;
    background-color: #f2f2f2;
}
#ReplyOwnerDetails {
    /* border: 1px solid black; */
    height: 53px;
    padding: 8px 64px 8px 12px;
}

#ReplyOwnerDetailsTop {
    display: flex;
    justify-content: space-between;
    /* border: 1px solid red; */
    position: relative;
}

#ReplyOwnerDetailsTop p {
    margin: 0px;
    /* border: 1px solid black; */

}

#ReplyOwnerDetailsTop p:last-child {
    position: absolute;
    right: -55px;
    color: rgb(0 0 0 / 60%);
    font-size: 12px;
    font-weight: 400;
    display: flex;
    justify-content: space-between;
    width: 35px;

}

#ReplyOwnerDetailsTop p span:first-child {
    font-size: 14px;
    font-weight: 600;
    line-height: 21px;
    color: rgb(0 0 0 / 90%);
}

#ReplyOwnerDetailsTop p span:last-child {
    color: rgb(0 0 0 / 60%);
    font-size: 14px;
    font-weight: 400;
}

#ReplyOwnerDetailsTop p:first-child span:first-child:hover {
    color: #0a66c2;
    text-decoration: underline;
}

#ReplyOwnerDetailsTop p span:hover {
    text-decoration: none;
}

#Ownerdescription {
    color: rgb(0 0 0 / 60%);
    font-size: 12px;
    font-weight: 400;
    line-height: 16px;
    /* border: 1px solid black; */
    text-align: left;
    margin: 0px;
}

#ReplyTxt {
    /* border: 1px solid black; */
    box-sizing: border-box;
    text-align: left;
    width: 392px;
    padding: 0px 16px 12px 12px;
    color: rgb(25 25 25);
    font-size: 14px;
    font-weight: 400;
}
.InteractionDiv{
    /* border: 1px solid green; */
    width: 420px;
    height: 16px;
    display: flex;
    font-size: 12px;
    font-weight: 600;
    color: rgb(0 0 0 / 60%);
    background-color: white;
    padding-bottom: 10px;
}
#LikeDiv{
    /* border: 1px solid blue; */
    padding: 0px 8px;
    box-sizing: border-box;
    border-right: 1px solid rgba(75, 75, 75, 0.6);
    position: relative;
    min-width: 30px;
}
#LikeDiv div#LikeButton button{
    width: 25px;
    height: 100%;
    background-color: transparent;
    position: absolute;
    /* border: 1px solid black; */
    box-sizing: border-box;
    top: -4px;
    left: -8px;
}
#commentDiv {
    /* border: 1px solid blue; */
    padding: 0px 8px;
}
#shareDiv{
    position: relative;
}
#sharePop{
    right: 0px;
    top: 40px;
    position: absolute;
    z-index: 1;
    height: 111px;
    width: 352px;
    border: 1px solid #EBEBEB;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 0 0 1px rgb(0 0 0 / 15%), 0 6px 9px rgb(0 0 0 / 20%);
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    cursor: pointer;
}
#sharePop div{
    /* border: 1px solid black; */
    display: flex;
    color: #5E5E5E;
    
}
#sharePop div:hover{
    background-color: #EBEBEB;
}
#sharePop .sharePopSubDiv{
    display: flex;
    flex-direction: column;
    text-align: left;
    width: 80%;
    /* border: 1px solid green; */
}
.sharePopSubDiv h3{
    font-size: 14px;
    /* border: 1px solid black; */
    margin: 0px;
    font-weight: 500;

}
.sharePopSubDiv p{
    font-size: 12px;
    /* border: 1px solid black; */
    margin: 0px;
}
#repost,#sharewithThoughts{
    /* border: 1px solid black; */
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex: 1;
}



