#createPostFeed{
    width: 540px;
    height: 116px;
    border: 1px solid #EBEBEB;
    background-color: white;
    border-radius: 8px;
    padding: 8px 16px 5px 16px;
    position: relative;
}
#createPostFeed1{
    /* border: 1px solid black; */
    height: 54px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

#createrInputDiv{
    width: 426px;
    height: 48px;
    border: 1px solid #A9A7A7;
    border-radius: 35px;
    display: flex;
    align-items: center;
    color: #666666;
    line-height: 21px;
    font-size: 14px;
    font-weight: 600;
    padding: 0px 16px;
    cursor: pointer;
}
#createrInputDiv:hover{
    background-color: #EBEBEB;
}
#createPostFeed2{
    /* border: 1px solid black; */
    height: 52px;
    width: 524px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: auto;
}
.createPostComponent{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 48px;
    border-radius: 4px;
    padding: 0px 8px;
    cursor: pointer;
}
.createPostComponent p{
    font-size: 14px;
    font-weight: 600;
    line-height: 28px;
    color: #666666;
}
.createPostComponent:hover{
    background-color: #F3F2EF;
}
#createPostPhotoDiv {
    color: #378FE9;
}
#createPostVideoDiv{
    color: #5F9B41;
}
#createPostEventDiv{
    color: #C37D16;
}
#createPostWriteArticleDiv{
    color: #E16745;
}

#LikeButton{
    position: relative;
}



#outerLayout{
    /* border: 1px solid red; */
    height: 100%;
    width: 100%;
    position: absolute;
    left: 0px;
    top: 0px;
    z-index: 1000;
}
#CreatePostPopDiv{
    min-height: 433px;
    width: 552px;
    max-height: calc(80vh*1.2);
    border-radius: 8px;
    background-color: white;
    position: fixed;
    z-index: 1000;
    /* border: 1px solid black; */
    left: 690px;
    top: 30px;
}
#CreatePostPopDivTop{
    height: 28px;
    padding: 16px 24px 16px 24px;
    border-bottom: 1px solid #EBEBEB;
    font-size: 20px;
    text-align: left;
    font-weight: 400;
    color: rgb(0 0 0 / 90%);
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
}
#closeBtn{
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    height: 40px;
    width: 40px;
}
#closeBtn:hover{
    background-color: #EBEBEB;
    cursor: pointer;
}
#popDivContent{
    overflow-y: scroll;
    max-height: 50vh;
}
.scrollVisible::-webkit-scrollbar {
    width: 0px;
}
#CreatePostPopDivProfile{
    /* border: 1px solid black; */
    height: 78px;
    padding: 12px 24px;
    display: flex;
    align-items: center;
}
#dropDownDiv{
    font-size: 16px;
    font-weight: 600;
    line-height: 24px;
    color: rgb(0 0 0 / 90%);
}
#dropDownBtn{
    border: 1px solid rgb(0 0 0 / 60%);
    color: rgb(0 0 0 / 60%);
    border-radius: 16px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 14px;
    padding: 3px 5px;
    cursor: pointer;
}
#CreatePostPopInput{
    /* border: 1px solid black; */
    min-height: 120px;
}
#CreatePostPopInput textarea{
    height: 96px;
    width: 504px;
    border: none;
    resize: none;
    font-size: 16px;

}
#CreatePostPopInput textarea:focus{
    outline: none;
}
#CreatePostPopInput textarea::-webkit-scrollbar{
    width: 0px;
}
#CreatePostPopbottom{
    /* border: 1px solid black; */
    height: 40px;
    width: 512px;
    padding: 12px 24px 12px 16px;
    margin-top: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    bottom: 0px;
}
#CreatePostPopbottom div:first-child{
    border-right: 1px solid #cdcdcd;
    width: 280px;
    height: 40px;
    display: flex;
    padding-right: 5px;
    justify-content: space-evenly;
    align-items: center;
}
#CreatePostPopbottom div svg{
    /* border: 1px solid black; */
    color: rgb(0 0 0 / 60%);
    padding: 8px;
    border-radius: 50%;
    cursor: pointer;
}
#CreatePostPopbottom div svg:hover{
    background-color: #EBEBEB;
}

#CreatePostPopbottom div:nth-child(2){
    /* border: 1px solid red; */
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 14px;
    font-weight: 600;
    padding: 3px 12px;
    border-radius: 16px;
    color: rgb(0 0 0 / 60%);
    cursor: pointer;
}
#CreatePostPopbottom div:nth-child(2):hover{
    background-color: #EBEBEB;
}
#CreatePostPopbottom div:nth-child(2) svg{
    height: 20px;
    width: 20px;
    /* border: 1px solid black; */
    padding: 2px;
}
#CreatePostPopbottom div:last-child{
    padding: 6px 16px;
    border-radius: 16px;
    background-color: #EBEBEB;
    color: rgb(0 0 0 / 60%);
    cursor: not-allowed;

}


.inputFileBtn{
    display: none;
}


#imagePreview{
    /* border: 1px solid black; */
    height: 300px;
    overflow-y: scroll;
}
#imagePreview img{
    width: 100%;
}
#imagePreviewBtn{
    /* border: 1px solid black; */
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    position: relative;
    bottom: 0px;
}
#imagePreviewBtn button{
    height: 33px;
    width: 70px;
    font-size: 16px;
    font-weight: 600;
    color: white;
    border-radius: 16px;
    padding: 6px 16px;
    background-color: #177fe8;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px;
}
#imagePreviewBtn button:hover{
    background-color: #006fdf;
}