#discoverFeed{
    border: 1px solid #EBEBEB;
    background-color: white;
    width: 225px;
    border-radius: 8px;
    position: relative;
    top: 0px;
}
#discoverFeed1{
    padding: 12px 12px 0px 12px;
}
#discoverFeed1 #addIcon{
    border: 1px solid transparent;
    border-radius: 50%;
    height: 32px;
    width: 32px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #242424;
    cursor: pointer;
}
#discoverFeed1 #addIcon:hover{
    background-color: #EBEBEB;
    color: black;
}
#discoverFeed1 p{
    font-size: 12px;
    font-weight: 600;
    line-height: 16px;
    color: #0A66A2;
    text-align: left;
    cursor: pointer;
}
#discoverFeed1 p:hover{
    text-decoration: underline;
}
#Events{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
#discoverFeed2{
    border-top: 1px solid #EBEBEB;
    height: 45px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}
.blink{
    animation: animate 0.3s linear 0.5;
}
@keyframes animate {
    0% {
        background-color: #efefef;
    }

    50% {
        background-color:#f5f5f5;
    }

    100% {
        background-color: #EBEBEB;
    }
}
#discoverFeed2 p{
    font-size: 14px;
    font-weight: 600;
    line-height: 20px;
    color: #666666;
}