footer {
    height: 386px;
    background-color: #f6f6f6;
    font-family: -apple-system, system-ui, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', 'Fira Sans', Ubuntu, Oxygen, 'Oxygen Sans', Cantarell, 'Droid Sans', 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Lucida Grande', Helvetica, Arial, sans-serif;
}

#footerContent {
    /* border: 1px solid black; */
    height: 386px;
    width: 1128px;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#footerLogoDiv {
    height: 340px;
    width: 300px;
    padding: 4px 0px;
    /* border: 1px solid black; */
    display: flex;
}

#footerLogoDiv >p{
    height: 20px;
    cursor: pointer;
    /* border: 1px solid black; */
    width: 80px;
}

#FooterContentSingle {
    /* border: 1px solid black; */
    height: 340px;
    width: 174px;
    text-align: left;
}

#FooterContentSingle h4 {
    font-size: 16px;
    font-weight: 600;
    line-height: 20px;
    margin: 4px;
}

#FooterContentSingle p {
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
    margin: 0px;
    padding: 2px;
    color: #777777;
    cursor: pointer;
}

#FooterContentSingle p:hover {
    font-weight: 600;
    color: #0A66C2;
    text-decoration: underline;
}
#copyrightDiv{
    /* border: 1px solid black; */
    height: 40px;
    width: 1128px;
    margin: auto;
    display: flex;
    justify-content: space-between;
}
#copyrightDiv img{
    height:15px ;
    margin: 5px 0px;
}
.singleFoolterTxt{
    font-size: 12px;
    font-weight: 600;
    color: #909090;
    cursor: pointer;
    margin: 5px 0px;
}
.singleFoolterTxt:hover{
    color:#0A66C2;
    text-decoration: underline;
}
.singleFoolterTxtFirst{
    font-size: 12px;
    font-weight: 400;
    color: #909090;
    cursor: pointer;
    margin: 5px 0px;
}
.singleFoolterTxtLast{
    font-size: 12px;
    font-weight: 600;
    color: #909090;
    cursor: pointer;
    margin: 5px 0px;
}
.singleFoolterTxtLast:hover{
    color: #0A66C2;
}