.field {
    display: flex;
    flex-flow: column-reverse;
    margin-bottom: 1em;
    height: 50px;
    width: 408px;
    border: 1px solid black;
    transform-origin: 0 0;
}
label{
    color: #666666;
}
label,input {
    transition: all 0.2s;
    touch-action: manipulation;
}
input {
    font-size: 1em;
    border: 0;
    /* border: 1px solid #ccc; */
    font-family: inherit;
    -webkit-appearance: none;
    border-radius: 0;
    padding: 0px 0px 5px 10px;
    cursor: text;
    
}
input:focus {
    outline: 0;
}

input:focus +label {
    cursor: text;
    max-width: 66.66%;
    white-space: nowrap;
    overflow: hidden;
    padding-left: 10px;
    text-align: left;
    transform-origin: left bottom;
    color: #666666;
    transform: translate(0rem, 0rem) scale(0.8);
    
}
::-webkit-input-placeholder {
    opacity: 0;
    transition: inherit;
}
input:not(:focus)+label{
    text-align: left;
    padding-left: 10px;
    transform: translate(0rem, 0.6rem) scale(1);
    cursor: pointer;
}
#showBtn{
    position: absolute;
    left: 735px;
    top: 370px;
    font-size: 16px;
    font-weight: 600;
    line-height: 32px;
    border: 1px solid transparent;
    border-radius: 4px;
    background-color: white;
    color: #666666;
    padding: 0px 8px;;
    cursor: pointer;
}
#showBtn:hover{
    background-color: #f4f4f4;
}

#welcomeDiv{
    /* border: 1px solid black; */
    width: 1128px;
    margin: auto;
    display: flex;
    box-sizing: border-box;
    margin: 50px auto;
}
#welcomeDivContent{
    /* border: 1px solid black; */
    padding: 0px 40px 0px 0px;
    display: flex;
    flex-direction: column;
}
#welcomeDivContent h1{
    /* border: 1px solid black; */
    margin-top:0px ;
    font-size: 56px;
    font-weight: 200;
    color: #8F5849;
    line-height: 67.2px;
    width: 578.391px;
    text-align: left;
}
#welcomeDivImage img{
    height: 560px;
    width: 700px;
}
#forgetPassword {
    font-size: 16px;
    line-height: 24px;
    text-align: left;
    cursor: pointer;
    margin: 5px 0px 5px;
}
#forgetPassword:hover {
    text-decoration: underline;
    color: #0A66C2;
}
#signInBtn{
    height: 56px;
    width: 408px;
    background-color: #0A66C2;
    color: white;
    font-size: 20px;
    border: 1px solid #0A66C2;
    border-radius: 30px;
    margin: 10px 0px;
}
#signInBtn:hover{
    background-color: #006097;
}
#horizontalLine{
    width: 408px;
    border-bottom: 1px solid #d1d1d1;
    margin: 20px 0px;
}
#or{
    position: absolute;
    padding: 0px 20px;
    top:545px;
    left: 565px;
    background-color: white;
    color: #878787;
    /* border: 1px solid black; */
}
#googleSignInBtn {
    height: 56px;
    width: 408px;
    background-color: white;
    color: #616161;
    font-size: 20px;
    border: 1px solid #616161;
    border-radius: 30px;
    margin: 10px 0px;
    display: flex;
    justify-content: center;
    align-items: center;
}
#googleSignInBtn p{
    margin: 0px 20px;
}
#googleSignInBtn:hover{
    border: 2px solid #242424;
}
#exploreDiv{
    /* border: 1px solid red; */
    height: 364px;
    display: flex;
    align-items: center;
    background-color: #F3F2F0;
}
#exploreDivContent,#findJobDivContent,#postJobDivContent{
    width: 1128px;
    display: flex;
    margin: 50px auto;
    /* border: 1px solid black; */
}
.exploreDivLeft{
    /* border: 1px solid black; */
    width: 550px;
}
.exploreDivLeft p{
    font-size: 48px;
    font-weight: 200;
    line-height: 60px;
    text-align: left;
    margin-top: 10px;
}
.exploreDivRight{
    /* border: 1px solid black; */
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    min-height: 244px;
    width: 660px;
}
.exploreDivRight p{
    font-size: 16px;
    font-weight: 600;
    color: #585858;
}
#exploreDivRightContent,#findJobDivRightContent,#postJobDivRight{
    display: flex;
    flex-wrap: wrap;
    margin: auto;
}
.exploreDivRightContentSIngle,.findJobDivRightContentSIngle{
    font-size: 20px;
    font-weight: 600;
    line-height: 30px;
    padding: 12px 24px;
    border-radius: 28px;
    border: 1px solid rgb(75, 75, 75);
    display: inline-block;
    color: rgb(76, 76, 76);
    margin: 4px;
    cursor: pointer;
}
.exploreDivRightContentSIngle:hover,.findJobDivRightContentSIngle:hover{
    background-color: #ebebeb;
    color: #242424;
}
.exploreDivRightContentSIngle:first-child{
    border: 1px solid #0A66C2;
    color: #0A66C2;
}
.exploreDivRightContentSIngle:first-child:hover{
    background-color: #E5EBF1;
}
#findJobDiv{
    min-height: 364px;
    display: flex;
    align-items: center;
}
#showMore{
    height: 48px;
    padding:2px 8px;
    border: 1px solid transparent;
    font-size: 16px;
    font-weight: 600;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: white;
    border-radius: 4px;
}
#showMore:hover{
    background-color: #f0efef;
}
#postJobDiv{
    background-color: #F1ECE5;
    display: flex;
}
#postJobDivContent{
    display: flex;
    align-items: center;
}
.postJobDivLeft{
    width: 550px;
}
.postJobDivLeft p{
    font-size: 40px;
    font-weight: 400;
    line-height: 50px;
    color: #B24020;
    width: 413px;
    height: 150px;
    text-align: left;
    /* border: 1px solid black; */
    margin-top: 10px;
}
#postAjob{
    margin-top: 70px;
}

#rightPeopleDiv{
    height: 840px;
    /* border: 1px solid black; */
    display: flex;
    background-color: #F3F2F0;
}
#rightPeopleDivContent{
    height: 550px;
    width: 1128px;
    margin: auto;
    /* border: 1px solid red; */
}
#rightPeopleDivSliderBtn{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    height: 40px;
    margin: 20px 0px;
}
#rightPeopleDivSliderBtn button{
    height: 40px;
    padding: 10px 16px;
    font-size: 14px;
    font-weight: 600;
    border-radius: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid transparent;
    background-color: transparent;
    margin: 5px;
}

#rightPeopleDivSliderBtn button:hover{
    background-color: #e9e9e9;
}
#rightPeopleDivSliderBtn button p{
    color: #585858;
}
#slider{
    display: flex;
    width: 1120px;
    /* border: 1px dotted black; */
    overflow-x: scroll;
    overflow-y: hidden;
    scrollbar-width: none;
    scroll-behavior: smooth;
}
#slider::-webkit-scrollbar{
    display: none;
}
.rightPeopleDivSlider{
    /* border: 1px solid red; */
    display: flex;
}
#rightPeopleDivSliderLeft{
    width: 564px;
    /* border: 1px solid violet; */
    padding-right: 70px;
}
#rightPeopleDivSliderLeft h1{
    font-size: 40px;
    line-height: 50px;
    color: #8F5849;
    font-weight: 400;
    text-align: left;
}
#rightPeopleDivSliderLeft p{
    font-size: 32px;
    font-weight: 200;
    line-height: 40px;
    text-align: left;
}
#rightPeopleDivSliderRight{
    height: 450px;
    width: 450px;
    border-radius: 50%;
    padding-right: 40px;
    /* border: 1px solid black; */
}
#rightPeopleDivSliderRight img{
    height: 100%;
    width: 100%;
}
#rightPeopleDivSliderBtn .notAllowed {
    cursor: not-allowed;
}

#rightPeopleDivSliderBtn .notAllowed{
    color: #b8b8b8;
}
#rightPeopleDivSliderBtn .notAllowed:hover{
    background-color: transparent;
}
#rightPeopleDivSliderBtn .notAllowed p{
    color: #b8b8b8;
}