#Navbar {
    height: 70px;
    width: 1128px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: auto;
}

#logoImg {
    width: 135px;
    cursor: pointer;
}

#navContentDiv {
    /* border: 1px solid red; */
    display: flex;
    align-items: center;
}

#navGeneral {
    display: flex;
}

#NavGeneralSingle {
    /* border: 1px solid black; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 80px;
    height: 52px;
    color: rgb(111, 111, 111);
    cursor: pointer;
}
#NavGeneralSingleTitle{
    /* border: 1px solid black; */
    margin: 0px;
}
#NavGeneralSingle:hover{
    color: black;
}
#NavGeneralSingleImg p{
    /* border: 1px solid black; */
    margin: 0px;
}
#seperator {
    border-left: 1px solid rgb(177, 177, 177);
    height: 38px;
}

#joinDiv {
    /* border: 1px solid violet; */
    height: 48px;
    width: 250px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

#joinDiv button {
    padding: 12px 24px;
    height: 48px;
    min-width: 112px;
    font-size: 16px;
    font-weight: 600;
    border-radius: 24px;
    background-color: white;
    cursor: pointer;
}

#joinDiv button:first-child {
    border: 1px solid transparent;
}

#joinDiv button:first-child:hover {
    background-color: #F5F5F5;
}

#joinDiv button:last-child {
    border: 1px solid #004182;
    color: #004182;
}

#joinDiv button:last-child:hover {
    background-color: #F0F7FE;
}