
#profileImage {
    height: 72px;
    aspect-ratio: 1;
    border-radius: 50px;
    border: 2px solid white;
    display: flex;
    position: relative;
    margin: auto;
    cursor: pointer;
    background-image: url("https://media-exp1.licdn.com/dms/image/C4D03AQE732pYOz74lw/profile-displayphoto-shrink_100_100/0/1649706029434?e=1663804800&v=beta&t=QuJxqFe_hwWQtwemok7NeSjOANgS0YHYrXqqdnuHbdw");
    object-fit: contain;
    background-size: cover;
}
#online{
    height: 8px;
    width: 8px;
    border: 2px solid white;
    border-radius: 50%;
    background-color: #057642;
    position: relative;
    z-index: 100;
    bottom: 14px;
    left: 80%;
}